<!-- Embeddable, not full-page -->

<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css">
<link type="text/css" rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/legend.css">
<!-- <link type="text/css" rel="stylesheet" href="css/extensions.css"> -->

<!-- Note: Rickshaw uses D3.js version 3, not 4 -->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="http://code.shutterstock.com/rickshaw/rickshaw.min.js"></script>

<!-- Also older versions for this example. TODO: see if we can remove or update these... -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>

<div id="chart"></div>
<div id="legend"></div>

<style media="screen" type="text/css">
#chart {
	display: inline-block;
}
#legend {
	display: inline-block;
	position: relative;
	left: 8px;
}
#legend_container {
	position: absolute;
	right: 0;
	bottom: 26px;
	width: 0;
}
#chart_container {
	position: relative;
	display: inline-block;
}
#smoother {
	margin: 0 0 10px 16px;
	width: 100px;
}
.rickshaw_graph .detail {
	left: -1000;
}
#chart {
	border: 1px solid #f0f0f0;
}
#side_panel {
	padding: 0 20px 20px 0;
	width: 240px;
	display: inline-block;
	vertical-align: top;
}
#side_panel section {
	color: #505050;
	font-size: 12px;
}
#side_panel section h6 {
	margin: 0 0 1em 0;
	font-size: 12px;
	font-weight: normal;
}
#side_panel .ui-slider-horizontal {
	height: 1px !important;
	border-color: #e0e0e0;
	margin-bottom: 10px;
}
#side_panel .ui-slider-handle {
	border-color: #a0a0a0;
	height: 9px !important;
	width: 9px !important;
	top: -5px !important;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
#legend {
	background-color: white;
	margin-left: 0;
	padding: 0;
	left: 0;
}
#legend .label {
	color: #404040;
}
#legend .action {
	color: black;
	opacity: 0.5;
}
#legend ul {
	padding: 0;
}

section {
	border: none;
	border-top: 1px solid #eaeaea;
	padding: 15px 0;
}
#smoother {
	margin: 5px 0 0 10px;
	width: 90%;
}
label.disabled {
	opacity: 0.4;
}
#renderer_form.toggler {
	display: block;
	margin: 0;
}
#renderer_form.toggler input[type=radio]:checked {
	outline: 2px solid steelblue;
}
#renderer_form.toggler input[type=radio] {
	-moz-appearance: button;
	background: white;
	margin: 0 7px;
	width: 39px;
	height: 26px;
	position: absolute;
}
#renderer_form.toggler label {
	display: inline-block;
	padding: 0;
	width: 39px;
	padding-top: 27px;
	text-align: center;
	font-size: 10px;
	color: #808080;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 7px;
	cursor: pointer;
}
#interpolation_form,
#offset_form {
	vertical-align: top;
	display: inline-block;
	width: 45%;
}
#interpolation_form label,
#offset_form label {
	display: block;
}
</style>

<script>

var graph_data = [];
var series = [];
var series_name = "";
var palette = new Rickshaw.Color.Palette();

<%
   data["processed"]["cohort"].keys.sort.reverse.each do |cohort_name|
   cohort_data = data["processed"]["cohort"][cohort_name]
   ruby_version, warmup_iters = cohort_name.split(",")

   data_points = cohort_data["data_points"]
   full_runs = cohort_data["full_runs"]
   request_percentiles = cohort_data["request_percentiles"] # Map of num-to-value
   run_percentiles = cohort_data["run_percentiles"] # Map of num-to-value
   throughput_mean = cohort_data["throughput_mean"]
   throughput_median = cohort_data["throughput_median"]
   throughputs = cohort_data["throughputs"]
   %>

series_name = "Ruby " + <%= ruby_version.inspect %> + ", " + <%= warmup_iters.inspect %> + " warmups";
<% rb_series = []
   throughputs.each_with_index do |t, i|
     rb_series.push x: i, y: t
   end
   %>
series = <%= JSON.pretty_generate(rb_series) %>;

graph_data.push({ name: series_name, data: series, color: palette.color() });

<% end %>

//Rickshaw.Series.zeroFill(graph_data);

var wrapper = new Rickshaw.Graph( {
	element: document.getElementById("chart"),
	width: 640,
	height: 480,
	renderer: 'bar',
        series: graph_data
} );

var legend = new Rickshaw.Graph.Legend( {
        element: document.querySelector('#legend'), 
        graph: wrapper
});

wrapper.render();
</script>
